<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">Mascotas</span>
                    
                    <table id="Tabla"  class="table table-success table-striped mt-4">
                        <thead>
                          <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Especie</th>
                            <th scope="col">Comentario</th>
                            <th scope="col">Editar</th>
                            <th scope="col">Eliminar</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Bruno</td>
                            <td>Vivo</td>
                            <td>Perro</td>
                            <td>Su salud es buena, esta activo</td>
                            <td><i class='fa fa-check-square-o' style='color: blue'></i></td>
                            <td>
                            <i class='fa fa-trash' style='color: red'></i>
                            </td>
                          </tr>
                          <tr>
                            <td>Mimi</td>
                            <td>Vivo</td>
                            <td>Gato</td>
                            <td>Su salud es buena, esta activo</td>
                            <td><i class='fa fa-check-square-o' style='color: blue'></i></td>
                            <td>
                            <i class='fa fa-trash' style='color: red'></i>
                            </td>
                          </tr>
                          <tr>
                            <td>Firulais</td>
                            <td>Vivo</td>
                            <td>Perro</td>
                            <td>Su salud es buena, esta activo</td>
                            <td><i class='fa fa-check-square-o' style='color: blue'></i></td>
                            <td>
                            <i class='fa fa-trash' style='color: red'></i>
                            </td>
                          </tr>
                          <tr>
                            <td>Falcao</td>
                            <td>Vivo</td>
                            <td>Gato</td>
                            <td>Su salud es buena, esta activo</td>
                            <td><i class='fa fa-check-square-o' style='color: blue'></i></td>
                            <td>
                            <i class='fa fa-trash' style='color: red'></i>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <button class="btn btn-success float-end" routerLink="crear-mascotas">Nueva mascota</button>
                </div>
            </div>
        </div>

    </div>
</div>

