
   <section class="slider_section">
      <div id="myCarousel" class="carousel slide banner-main" data-ride="carousel">
         <div class="carousel-inner">
            <div class="carousel-item active">
               <img class="first-slide" src="https://cdn.discordapp.com/attachments/704142250845929492/1042914917956714607/Diseno_sin_titulo_4.png" alt="First slide">
               <div class="container">
                  <div class="carousel-caption relative">
                     <h1>Mascota Feliz</h1>
                     <p></p>
                     <br>
                     <br>
                     <br>
                     <br>
                     <a  href="#">REGÍSTRATE</a>
                  </div>
               </div>
            </div>
         </div>
      </div>   
   </section>
   <!-- about  -->
   <div id="about" class="about top_layer">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="titlepage">
                  <h2>Quienes Somos</h2>
                  <span>Somos un equipo de personas y profesionales en el area de veterinaria,
                    capacitado en las diferentes metodologías y técnicas necesarias para la atención
                    integral de todos nuestros pacientes. </span>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12">
               <div class="img-box">
                  <figure><img src="https://cdn.discordapp.com/attachments/704142250845929492/1042907144460189746/Diseno_sin_titulo.png" alt="img"/></figure>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- end abouts -->
   <!-- service --> 
   <div id="service" class="service">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="titlepage">
                  <h2>Nuestros Planes </h2>
                  <span>Conoce nuestros servicios y paquetes para que elijas el que más le conviene a tu mejor amigo.</span>
               </div>
            </div>
         </div>
      </div>
      <div class="container margin-r-l">
         <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 thumb">
               <div class="service-box">
                  <figure>
                     <a href="images/1.jpg" class="fancybox" rel="ligthbox">
                     <img  src="https://cdn.discordapp.com/attachments/704142250845929492/1042917022792683591/Diseno_sin_titulo_5.png" class="zoom img-fluid "  alt="">
                     </a>
                     <span class="hoverle">
                     <a href="images/1.jpg" class="fancybox" rel="ligthbox">Comida</a>
                     </span>  
                  </figure>
               </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 thumb">
               <div class="service-box">
                  <figure>
                     <a href="images/2.jpg" class="fancybox" rel="ligthbox">
                     <img  src="https://cdn.discordapp.com/attachments/704142250845929492/1042917022473920532/Diseno_sin_titulo_6.png" class="zoom img-fluid "  alt="">
                     </a>
                     <span class="hoverle">
                     <a href="images/1.jpg" class="fancybox" rel="ligthbox">Peluquería</a>
                     </span>
                  </figure>
               </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 thumb">
               <div class="service-box">
                  <figure>
                     <a href="images/3.jpg" class="fancybox" rel="ligthbox">
                     <img  src="https://cdn.discordapp.com/attachments/704142250845929492/1042917022134194369/Diseno_sin_titulo_7.png" class="zoom img-fluid "  alt="">
                     </a>
                     <span class="hoverle">
                     <a href="images/3.jpg" class="fancybox" rel="ligthbox">Veterinaria</a>
                     </span>
                  </figure>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- end service -->

      <!-- Testimonial -->
      <div id="testimonial" class="testimonial">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h3>Testimonios</h3>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                  <div id="testimonial_slider" class="carousel slide banner-bg" data-ride="carousel">
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                           <img class="first-slide" src="https://cdn.discordapp.com/attachments/704142250845929492/1042919750117883965/Diseno_sin_titulo_8.png">
                           <div class="container">
                              <div class="carousel-caption relat">
                                 <h3>Luka y yo</h3>
                                 <span><i class="fa fa-quote-left"></i> Cliente<i class="fa fa-quote-right"></i></span>
                                 <p>La atención prestada en Mascota Feliz fue la que esperaba mi peludo y yo quedamos muy felices. </p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                  <div class="contact">
                     <h3>Contáctenos</h3>
                     <h1>Quiero ser cliente</h1>
                     <form>
                        <div class="row">
                           <div class="col-sm-12">
                             <input type="text" id="fullName" class="form-control" placeholder="Nombre Completo..">
                           </div>
                           <div class="col-sm-12">
                             <input type="text" id="emailAddress" class="form-control" placeholder="Email..">
                           </div>
                           <div class="col-sm-12">
                             <input type="text" id="telefono" class="form-control" placeholder="Teléfono..">
                           </div>
                           <div class="col-sm-12">
                             <textarea id="message" class="form-control" placeholder="Mensaje.."></textarea>
                           </div>
                           <div class="col-sm-12">
                              <button class="send">Enviar</button>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end Testimonial --> 

   <!-- Javascript files--> 
   <script src="/src/assets/js/jquery.min.js"></script> 
   <script src="/src/assets/js/popper.min.js"></script> 
   <script src="/src/assets/js/bootstrap.bundle.min.js"></script> 
   <script src="/src/assets/js/jquery-3.0.0.min.js"></script> 
   <script src="/src/assets/js/plugin.js"></script> 
   <!-- sidebar --> 
   <script src="/src/assets/js/jquery.mCustomScrollbar.concat.min.js"></script> 
   <script src="/src/assets/js/custom.js"></script>
   <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
   <script>
      $(document).ready(function(){
      $(".fancybox").fancybox({
      openEffect: "none",
      closeEffect: "none"
      });
      
      $(".zoom").hover(function(){
      
      $(this).addClass('transition');
      }, function(){
      
      $(this).removeClass('transition');
      });
      });
      
   </script> 


