<div class="page-hero bg-image overlay-dark" style="background-image: url(https://cdn.discordapp.com/attachments/704142250845929492/1022676635377467422/1663895415476.png);">
    <div class="hero-section">
      <div class="container text-center wow zoomIn">
        <span class="subhead">Cuidando lo que más amás.</span>
        <h1 class="display-4">Mascota Feliz</h1>
        <a href="#" class="btn btn-primary">Conócenos</a>
      </div>
    </div>
  </div>


  <div class="bg-light">
    <div class="page-section py-3 mt-md-n5 custom-index">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-4 py-3 py-md-0">
            <div class="card-service wow fadeInUp">
              <div class="circle-shape bg-secondary text-white">
                <span class="mai-chatbubbles-outline"></span>
              </div>
              <p>Todo para tu mejor amigo.</p>
            </div>
          </div>
          <div class="col-md-4 py-3 py-md-0">
            <div class="card-service wow fadeInUp">
              <div class="circle-shape bg-primary text-white">
                <span class="mai-shield-checkmark"></span>
              </div>
              <p>Cuidando lo que más amás.</p>
            </div>
          </div>
          <div class="col-md-4 py-3 py-md-0">
            <div class="card-service wow fadeInUp">
              <div class="circle-shape bg-accent text-white">
                <span class="mai-basket"></span>
              </div>
              <p>Al servicio de sus patitas.</p>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- .page-section -->


