<div class="container mt-3">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body text-center">
                    <div class="page-section">
                        <div class="container">
                          <h1 class="text-center wow fadeInUp">Crear usuario</h1>
                    
                          <form >
                            <div class="row mb-3">
                              <div class="col-sm-6 py-2 wow fadeInLeft">
                                <label for="cedula"></label>
                                <input type="text" id="cedula" class="form-control" formControlName="cedula"  placeholder="Cédula..">
                              </div>
                              <div class="col-sm-6 py-2 wow fadeInRight">
                                <label for="nombre"></label>
                                <input type="text" id="nombre" class="form-control" placeholder="Nombres.." formControlName="nombre">
                              </div>
                              <div class="col-sm-6 py-2 wow fadeInUp">
                                <label for="apellido"></label>
                                <input type="text" id="apellido" class="form-control" placeholder="Apellidos.." formControlName="apellido">
                              </div>
                              <div class="col-sm-6 py-2 wow fadeInUp">
                                <label for="telefono"></label>
                                <input type="text" id="telefono" class="form-control" placeholder="Teléfono.." formControlName="telefono">
                              </div>
                              <div class="col-sm-6 py-2 wow fadeInRight">
                                <label for="correo"></label>
                                <input type="text" id="correo" class="form-control" placeholder="Correo.." formControlName="correo">
                              </div>
                            </div>
                            
                            <button type="submit" class="btn btn-primary wow zoomIn" >Regístrate</button>
                          </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
