<div class="container mt-3">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body text-center">
                    <div class="page-section">
                        <div class="container">
                          <h1 class="text-center wow fadeInUp">Inicia Sesión</h1>
                    
                          <form>
                            <div class="row mb-4">
                              <div class="form-group">
                                <input type="text" id="correo" class="form-control" placeholder="Correo.." formControlName="correo">
                              </div>
                            </div>
                            <div class="row mb-4">
                              <div class="form-group">
                                <input type="password" name="password" class="form-control" placeholder="Password" required>
                              </div>
                            </div>
                            <button type="submit" class="btn btn-primary wow zoomIn" >Regístrate</button>
                          </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
