<div class="page-section">
    <div class="container">
      <h1 class="text-center wow fadeInUp">Crear Mascotas</h1>

      <form class="contact-form mt-5">
        <div class="row mb-3">
          <div class="col-sm-6 py-2 wow fadeInLeft">
            <label for="fullName">Nombre</label>
            <input type="text" id="fullName" class="form-control" placeholder="Nombre Completo..">
          </div>
          <div class="col-sm-6 py-2 wow fadeInRight">
            <label for="estado">Estado</label>
            <input type="text" id="estado" class="form-control" placeholder="Estado..">
          </div>
          <div class="col-sm-6 py-2 wow fadeInRight">
            <label for="especie">Especie</label>
            <input type="text" id="estado" class="form-control" placeholder="Especie..">
          </div>
          <div class="col-sm-6 py-2 wow fadeInRight">
            <label for="comentario">Comentario</label>
            <input type="text" id="estado" class="form-control" placeholder="Comentario..">
          </div>
        </div>
        <button type="submit" class="btn btn-primary wow zoomIn">Registra la mascota</button>
      </form>
    </div>
  </div>
