<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">Aprobaciones</span>
                    
                    <table id="Tabla"  class="table table-success table-striped mt-4">
                        <thead>
                          <tr>
                            <th scope="col">Cliente</th>
                            <th scope="col">Inicio</th>
                            <th scope="col">Proceso</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Bruno Marquez</td>
                            <td>Hoy</td>
                            <td>Observaciones</td>
                            <a href="">Aprobado/Rechazado/Pendiente</a>
                          </tr>
                          <tr>
                            <td>Martha Sanchez</td>
                            <td>Hoy</td>
                            <td>Observaciones</td>
                            <a href="">Aprobado/Rechazado/Pendiente</a>
                          </tr>
                          <tr>
                            <td>Gonzalo Cano</td>
                            <td>Hoy</td>
                            <td>Observaciones</td>
                            <a href="">Aprobado/Rechazado/Pendiente</a>
                          </tr>
                          <tr>
                            <td>Mariana Ocampo</td>
                            <td>Hoy</td>
                            <td>Observaciones</td>
                            <a href="">Aprobado/Rechazado/Pendiente</a>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>

    </div>
</div>
